.App {
    height: 100vh;
    /* width: 1280px; */
    width: 100%;
    /* min-height: 100%; */
    image-rendering: pixelated;
    overflow-y: hidden;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

div {
    display: flex;
}

#root {
    height: 100%;
}

.white {
    color: #fff;
}

.tray-qq-flashing {
    animation: tray-qq-flash 0.7s steps(1, end) infinite;
}

.qq-friend-row {
    background-color: #ffffff;
}

.qq-friend-row:hover {
    background-color: #d8d8d8;
}

.qq-friend-row:active {
    background-color: #c0c0c0;
    transform: translate(1px, 1px);
}

.qq-button:hover {
    background-color: #d8d8d8 !important;
}

.qq-button:active {
    transform: translate(1px, 1px);
    border-top-color: #000000 !important;
    border-left-color: #000000 !important;
    border-right-color: #ffffff !important;
    border-bottom-color: #ffffff !important;
}

@keyframes tray-qq-flash {
    0%,
    49% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: 0;
    }
}

.blinking-cursor {
    background-color: #fff;
    width: 0.8em;
    height: 0.15em;
    -webkit-animation: 0.65s blink step-end infinite;
    -moz-animation: 0.65s blink step-end infinite;
    -ms-animation: 0.65s blink step-end infinite;
    -o-animation: 0.65s blink step-end infinite;
    animation: 0.65s blink step-end infinite;
}

@keyframes blink {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: white;
    }
}

@-moz-keyframes blink {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: white;
    }
}

@-webkit-keyframes blink {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: white;
    }
}

@-ms-keyframes blink {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: white;
    }
}

@-o-keyframes blink {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: white;
    }
}
